<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>279492149846-ggrfarabv433a1ftn2sqgvskj4rhe51m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.279492149846-ggrfarabv433a1ftn2sqgvskj4rhe51m</string>
	<key>API_KEY</key>
	<string>AIzaSyCsc27y3GFNcd70bEuATf89ptyAfo3o11E</string>
	<key>GCM_SENDER_ID</key>
	<string>279492149846</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ffProject</string>
	<key>PROJECT_ID</key>
	<string>galla-project</string>
	<key>STORAGE_BUCKET</key>
	<string>galla-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279492149846:ios:e5c45d97b48609fb22f1f7</string>
</dict>
</plist>